.logoriver{
    float: left;
    top: 5px;
    left: 30px;
    width: 5em;
    height: 7em;
}
header h1{
   position: absolute;
    font-size: 4em;
    top: 2px;
    left: 78px;
}
.contenido{
    margin-left: 30%;
    padding-top: 100px;
    text-align: left;
    height: 90%;
}
.menu{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header a{
    text-decoration: none;
    color:darkred;
}
header a:hover{
    background-color: beige;
}
.desactivado{
    color: gray;
}
